@model TANAPa_ePlan.Models.UserProfile

@{
    ViewBag.Title = "RecoverPassword";
}

<div class="widget blue">
    <div class="widget-title">
        <h4>Password Reset for, <b>@Model.UserName</b></h4>
    </div>
    <div class="widget-body">
        <div class="row-fluid">
            <div class="span6">
                <table>
                    <tr>
                        <td>Username</td><td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <td>First Name</td><td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td>Last Name</td><td>@Model.LastName</td>
                    </tr>               
                </table>
            </div>
            <div class="span6">
                @if (@TempData["Message"] != null)
                { 
                    <div class="alert alert-warning">
                        @TempData["Message"]
                    </div>
                }
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false);                    
                    
                                <div class="control-group ">
                                    <label class="control-label">Username</label>
                                    @Html.TextBoxFor(m => m.UserName, new { @readOnly = true })
                                </div>
                                <div class="control-group ">
                                   
                                    <input name="rt" value="@ViewBag.token" readOnly = true />                                
                                </div>
                                <div class="pull-right control-group">
                                    <button type="submit" class="btn btn-primary ">Reset </button>
                                </div>
                }
            </div>
        </div>
    </div>
</div>
