<div class=" menu-section">
            <div class="row">
                <div class="col-md-12 pull-left">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a  href="@Url.Action("Index", "Admin")">My Dashboard</a></li>
                            <li><a href="@Url.Action("ListUser", "Admin")">Users</a></li>
                            @*<li><a href="@Url.Action("Index", "Task")">Task</a></li>
                            <li><a href="@Url.Action("Index", "Activity")">Activity</a></li>
                            <li><a href="@Url.Action("Index","Target")">Target</a></li>
                             <li><a href="@Url.Action("Index", "Objective")">Objective</a></li>
                            <li><a href="@Url.Action("Index", "Setup")">Setup</a></li>*@

                        </ul>
                    </div>
                </div>

            </div>
        </div>
