@model IEnumerable<TANAPa_ePlan.Models.UserProfile>
@{Html.RenderAction("DeptTopMenu");}
<hr />
<link href="~/assets/dataTables/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/dataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading">
        LIST OF MY EMPLOYEES
        
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div class="table table-striped">
                @using GridMvc.Html
                @helper RenderActionColumn(int UserId)
{
   
                    <div class="btn-group">
                        <button class="btn btn-success">Options</button>
                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("EmpProfile", "Home", new { id = UserId })">View Profile</a></li>
                            <li><a href="@Url.Action("Edit", "Account", new { id = UserId })">Update</a></li>
                            <li><a href="@Url.Action("ResetPassword", "Account", new { id = UserId })">Reset Password</a></li>
                        </ul>
                    </div>
    
                }
@ViewBag.ResultMessage
                @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.UserName)
                            .Titled("User Name")
                            .Filterable(true);
                        columns.Add(c => c.Firstname).
                            Titled("First Name").
                            Filterable(true);
                        columns.Add(c => c.Surname).
                            Titled("Last Name")
                            .Filterable(true);
                     @*columns.Add(c => c.Department.DeptName).
                            Titled("Department")
                            .Filterable(true);*@
                    columns.Add(c => c.Section).
                            Titled("Section")
                            .Filterable(true);
                        columns.Add().Titled("Action").Sanitized(false)
                            .Encoded(false).RenderValueAs(c => RenderActionColumn(c.UserId));
                    }).Sortable(true)

            </div>
        </div>
    </div>
</div>

