@model IEnumerable<TANAPa_ePlan.Models.Target>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objective.ODescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Objective.ODescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TargetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TargetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TargetId })
        </td>
    </tr>
}

</table>
