<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">System Setup Manager </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="@Url.Action("Create", "Setup")">
        <div class="dashboard-div-wrapper bk-clr-one">
            <i class="fa fa-users dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                </div>
           <h5>Department</h5>
            </div>
            </a>
        </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="@Url.Action("AddFYear", "Setup")">
        <div class="dashboard-div-wrapper bk-clr-two">
            <i class="fa fa-edit dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                </div>
            </div>
            <h5>Financial Year</h5>
        </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6"><a href="@Url.Action("AddQuarter","Setup")">
        <div class="dashboard-div-wrapper bk-clr-three">
            <i class="fa fa-cogs dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                </div>
            </div>
            <h5>Quater</h5>
        </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="@Url.Action("AddMonth", "Setup")">
        <div class="dashboard-div-wrapper bk-clr-four">
            <i class="fa fa-bell-o dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                </div>
            </div>
            <h5>Month</h5>
        </div></a>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="@Url.Action("AddWeek", "Setup")">
        <div class="dashboard-div-wrapper bk-clr-one">
            <i class="fa fa-users dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                </div>
           <h5>Week</h5>
            </div>
            </a>
        </div>
    <div class="col-md-3 col-sm-3 col-xs-6"><a href="@Url.Action("AddQuarter", "Setup")">
        <div class="dashboard-div-wrapper bk-clr-two">
            <i class="fa fa-edit dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                </div>
            </div>
            <h5>Quater</h5>
        </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6"><a href="@Url.Action("Register", "Account")">
        <div class="dashboard-div-wrapper bk-clr-three">
            <i class="fa fa-cogs dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                </div>

            </div>
<h5>User Manager</h5>
        </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6"><a href="#">
        <div class="dashboard-div-wrapper bk-clr-four">
            <i class="fa fa-bell-o dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                </div>

            </div>
        </div></a>
    </div>
</div>
<h1 class="page-head-line"></h1>
